.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
}
.card-header{
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #5b5d62;
    text-transform: lowercase;
    text-wrap: wrap;
}
.card-body{
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-size: .5em;
    color: #ccc;
}