.message {
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    position: fixed;
    opacity: 1;
    transition: opacity 0.6s ease-out;
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.message p{
    font-size: 12px;
}

.message.success {
    background-color: #f6ffed;
    color: #52c41a;
    border: 1px solid #b7eb8f;
}

.message.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.message.info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.message.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}

.message.dismiss {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}