*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar{
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.navbar .custom-button{
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.navbar .custom-button:hover{
  background-color: white;
  color: #282c34;
}